@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	:root {
		--bg: 255 255 255;
		--muted: 100 116 139;
	}
	.dark {
		--bg: 17 24 39;
		--muted: 148 163 184;
	}

	html, body, #root { height: 100%; }
	body { font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; transition: background-color 200ms ease, color 200ms ease }
}

.container { max-width: 1100px; margin-left: auto; margin-right: auto }
